/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items vertically */
  border: 1px solid black;
}

/* Logo styles */
.logo {
  width: 9.375rem;
}

/* Navigation items styles */
.nav-items {
  padding: 0 1.875rem; /* Improved shorthand for zero padding on top/bottom */
}

.nav-items ul {
  font-size: 1.5rem;
  display: flex;
  list-style: none; /* Simplified property name */
}

.nav-items li {
  padding: 0.625rem;
  margin: 0.625rem;
}

/* Responsive container styles */
.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Add gap between items for better spacing */
}

/* Responsive card styles */
.res-card {
  padding: 0.313rem;
  width: 12.5rem;
  border: 1px solid black;
  background-color: #f0f0f0;
  margin: 5px;
}

/* Search input styles */
.search {
  padding: 0.625rem;
}

/* Responsive logo styles */
.res-logo {
  width: 100%;
}

/* Filter button styles */
.filter-btn {
  margin: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.filter {
  margin: 0.5rem;
  display: flex;
}

/* Shimmer container styles */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

/* Shimmer card styles */
.shimmer-card {
  margin: 20px;
  width: 12.5rem;
  height: 400px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Add rounded corners to the card */
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Apply the shimmer effect to the card */
.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 25%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.login-btn {
  background-color: #ffffff; /* Button background color */
  color: #ff0000; /* Button text color */
  border: 2px solid #ff0000; /* Button border */
  border-radius: 4px; /* Rounded button corners */
  padding: 10px 20px;
  font-size: 1rem; /* Button text size */
  text-transform: uppercase; /* Convert text to uppercase */
  text-decoration: none; /* Remove underlines from links (if applicable) */
  cursor: pointer;
}

/* Hover effect for the login button */
.login-btn:hover {
  background-color: #ff0000; /* Darker blue on hover */
  color: #ffffff; /* Text color on hover */
}

.user-card {
  border: 1px solid black;
  padding: 0.5rem;
}
